h1 {
  color: red;
  text-align: center;
}

body{background-color: #cfffff;
}

.testo{
  background-color: #d7deea;
  color: black;
  border: 3px white;
  margin: 20px;
  padding: 20px;
}

.immagini  {
  background-color: lightgreen;
  color: black;
  border: 3px solid black;
  margin: 20px;
  padding: 20px;
}

.campmond {
  background-color: gold;
  color: black;
  border: 3px solid black;
  margin: 20px;
  padding: 20px;
}