h1 {
  color: blue;
  text-align: center;
}
h2 { 
  color: black;
text-align: center;
}
.pera {
  background-color: white;
  color:blue;
  border: 20px blue;
  margin: 20px;
  padding: 20px;
}
 .center {
 display: block;
margin-left: auto;
 margin-right: auto;
 width: 45%;
}
