h1 {
color:teal;
text-align: center;
font-family: cursive;
font-size:100px;
margin-bottom: 1px
}

body{
  background-color:white;
  background-image: url("sfondo.jpg");
  }

  p {
  color: black;
  text-align: center;
  font-family: adobe kaiti std R;
  font-size: 50px;
  margin-top: 2px;
}

.container {
  text-align: center;
  font-size: 50px;
}

.btn {
  font-size: 50px;
  margin:47px;
  font-family: fantasy;
  text-decoration-color:"grey";
}

h2 {
  color: teal;
  text-align: center;
  font-family: cursive;
  font-size: 55px;
  margin-bottom: 1px;
  }
body {

 p  
    color: black;
    text-align: center;
    font-family: adobe kaiti std R;
    font-size: 25px;
    margin-top: 2px;
}

h3 {
   color: black;
   text-align:left;
   font-size: 30px;
   font-family: bold;
}

h4 {
   color: teal;
   text-align:center;
   font-size: 55px;
   font-family: cursive;
   margin-bottom: 1px;
}

h5 {
   color: black;
   text-align:left;
   font-size: 30px;
   font-family: bold;
}



