h1 {
color:purple;
text-align: center;
font-family: lucida calligraphy;
font-size:100px;
margin-bottom: 1px
}

body{
  background-color:white;
  background-image: url("IMG_0412.jpg");
  }

  p {
  color: black;
  text-align: center;
  font-family: adobe kaiti std R;
  font-size: 50px;
  margin-top: 2px;
}

.container {
  text-align: center;
  font-size: 50px;
}

.btn {
  font-size: 50px;
  margin:47px;
  font-family: fantasy;
  text-decoration-color:"grey";
}