h1 {
color:teal;
text-align: center;
font-family: pristina;
font-size:100px;
margin-bottom: 1px
}

body{
  background-color:white;
  background-image: url("sfondo.jpg");
  }

  p {
  color: black;
  text-align: center;
  font-family: cursive;
  font-size: 50px;
  margin-top: 2px;
}

.container {
  text-align: center;
  font-size: 50px;
  color: black;
  writing-mode: cursive;
  outline-color: black;
}


.btn {
  font-size: 50px;
  margin:35px;
  font-family: cursive;
  color:teal;
  border-radius: 65px ;
  background-color: whitesmoke;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;

} 

h2 {
  color: teal;
  text-align: center;
  font-family: cursive;
  font-size: 55px;
  margin-bottom: 1px;
  }
body {

 p  
    color: black;
    text-align: center;
    font-family: cursive;
    font-size: 25px;
    margin-top: 2px;
}

h3 {
   color: black;
   text-align:left;
   font-size: 30px;
   font-family: bold;
}

h4 {
   color: teal;
   text-align:center;
   font-size: 55px;
   font-family: cursive;
   margin-bottom: 1px;
}

h5 {
   color: black;
   text-align:left;
   font-size: 30px;
   font-family: bold;
}
 h6 { 
  color: teal;
  text-align: center;
  font-family: cursive;
  font-size: 85px;
  margin-bottom: 1px;
}
body {
p  
    color: black;
    text-align: center;
    font-family: cursive;
    font-size: 30px;
    margin-top: 2px;
}

h8 {
   color: black;
   text-align:right;
   font-size: 30px;
   font-family: bold;
}

