h1 {
  color: hotpink;
  text-align: center;
}

table {
  width: 100%;
  background-color: #FFDDDF;
  margin: 0 0 0 0;
}

th {
  border: 3px solid #FFDDDF;
  border-collapse: collapse;
}

.w3-panel {
  background: #FFD1E9;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: papyrus;
  font-size: 40px;
}

#quadrato {
  border-collapse: collapse;
  border: 3px solid #FFDDDF;
  text-align: center;
  padding: 8px;
  background-color: white;
  margin: 0 0 0 0;
}



.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
  color: white;
}
