h1 {
  color: blue;
  text-align: center;
  text-shadow: 2px 2px 5px darkred;
}
p  {
  color: black;
  text-align: center;
  text-transform:  uppercase;
}
body { 
  background-image: url("sfondo.jpg");
  background-size: cover;
}

.s {
  text-align: left;
  font-style: oblique;
}

.m {
  text-align: center;
  color: lightgreen;
}