h1 {
  color: red;
  text-align: center;
  font-family: 'Times New Roman', Times, serif, Courier, monospace
}

body{
  background-color: white
}
.container.btn {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%) ;
 -ms-transform: translate(-50%, -50%);
 background-color: #f1f1f1;
 color: black;
 font-size: 25px;
 padding: 20px 40px;
 border: none;
 cursor: pointer;
 border-radius: 7px;
 text-align: center;
 }
.container. btn:hover {
  background-color: #FFDDDF;
  color: white;
}
